{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    説明
{% endblock %}
{% block content %}
<p>
    これは最終提案ゲームです．<br>
    このゲームではプレイヤー1とプレイヤー2にランダムに割り振られます．<br>
    それぞれの役割は以下のとおりです．
</p>
<div>
<strong>プレイヤー1に割り振られた場合</strong>
<p>
  あなたは最初{{ Constants.endowment }}を持っています．その中からプレイヤー2にいくら渡すかを決めてもらいます．ただし，プレイヤー2には拒否権があります．プレイヤー2が受け入れた場合にはあなたの提案通りに分配が実行されますが，拒否した場合には2人とも何ももらえません．
</p>
</div>

<div>
<strong>プレイヤー2に割り振られた場合</strong>
<p>
  あなたはプレイヤー1が提案した分配額に対して，受け入れるか拒否するか決定するように求められます．あなたが受け入れた場合にはプレイヤー1の提案通りに分配が実行されますが，拒否した場合には2人とも何ももらえません．
</p>
</div>

    {% next_button %}

{% endblock %}