{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    結果の確認
{% endblock %}

{% block content %}
<p>
    あなたは初期保有額として<strong> {{ Constants.endowment }}</strong>を持っていました．<br>
    その中から<strong>{{ player.contribution }}</strong>を貢献しました．<br>
    あなたのグループでは全員で<strong>{{ group.total_contribution }}</strong>を貢献していました．<br>
    その結果，一人あたりには<strong>{{ group.individual_share }}</strong>が渡されました．<br>
</p>
<p>
    <strong>{{ Constants.endowment }}-{{ player.contribution }}+{{ group.individual_share }}={{ player.payoff }}</strong>
</p>
<p>
    したがって，あなたは<strong>{{ player.payoff }}</strong>を受け取りました．
</p>
    {% next_button %}
{% endblock %}
